/.idea/
/out/
database.mv.db
Dockerfile
fly.toml
HELP.md
/src/main/resources/application.properties
/src/main/resources/application-production.properties
/database.trace.db
/target/classes/templates/fragments/layout.html
/target/classes/templates/fragments/sidebar.html
/target/classes/public/css/style.css
/target/classes/templates/fragments/userlist.html
/target/
