.container{
    margin-top:200px;
}

.btn:hover{
    color:#fff;
}

.input-text:focus{


    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
}

#searchResults {
    background-color: white;
    border: 1px solid #ccc;
    height: auto;
    overflow-y: auto;
    color: black;
}

.result-item {
    padding: 5px;
    cursor: pointer;
}
.result-item:hover {
    background-color: #f4f4f4;
}
