<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Users list: </h1>
<div th:if="${not #lists.isEmpty(users)}">
    <ul  th:each="userTable : ${users}">
        <li>
            <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}">User</a>
        </li>
    </ul>
</div>
<h1>New User</h1>
<form th:action="@{/users}" method="post">
    <label>Name: <input type="text" name="name" /></label>
    <input type="submit" value="Submit" />
</form>
</body>
</html>